@model bootstrap.Models.PlayerSeachViewModel
@{
    ViewBag.Title = "Player Search";
}

@using (Html.BeginForm("About", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Enter a name.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Search Criteria", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SearchCriteria, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Email Link" />
        </div>
    </div>
    <div class="jumbotron crew-jumbotron-container">
        <h2>Baseball stats</h2>
        <div>
            <table cellpadding="20" cellspacing="10">
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        Position
                    </th>
                    <th>
                        Team
                    </th>


                </tr>
                @{
                    foreach (var item in Model.SC)
                    {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name, "PlayerPage", "Home", new { PlayerID = item.PlayerID }, null)
                    </td>
                    <td>
                        @item.Age
                    </td>
                    <td>
                        @item.PositionAbbr
                    </td>
                    <td>
                        @Html.ActionLink(item.TeamName, "TeamInfo", "Manage", new { id = item.TeamID }, null)
                    </td>

                </tr>
                    }
                }
            </table>
        </div>
    </div>
                    }
