@model bootstrap.Models.PlayerPageViewModel

@{
    ViewBag.Title = "Player Page";
}

<div class="jumbotron crew-jumbotron-container">
    <h2>Baseball stats</h2>
    <div>

        <br />
        <h1>
            @foreach (var item in Model.BP)
            {
                @item.Name.ToString()
            }
        </h1>
        <h1>
            @foreach (var item in Model.BP)
            {
                @item.PositionAbbr.ToString()
            }
        </h1>
        <h4>
            (@foreach (var item in Model.BP)
            {
                @item.PositionName.ToString()
            })
        </h4>
        <p>
            <br />
            Team: @foreach (var item in Model.BP)
            {
                @item.TeamName.ToString()
            }
            <br />
            Age: @foreach (var item in Model.BP)
            {
                @item.Age.ToString()
            }
            <br />
            <br />
        </p>

        @foreach (var item in Model.BP)
        {
            if (item.PositionAbbr != "P")
            {
                <h2> Batting Stats </h2>

                <table cellpadding="20" cellspacing="10">
                    <tr>
                        <th>
                            G
                        </th>
                        <th>
                            AB
                        </th>
                        <th>
                            AVG
                        </th>
                        <th>
                            HR
                        </th>
                        <th>
                            RBI
                        </th>
                        <th>
                            OBP
                        </th>
                        <th>
                            SLG
                        </th>
                        <th>
                            OPS
                        </th>
                        <th>
                            ISO
                        </th>
                        <th>
                            BABIP
                        </th>
                        <th>
                            K%
                        </th>
                        <th>
                            BB%
                        </th>
                    </tr>

                    <tr>
                        <td>
                            @item.G.ToString()
                        </td>
                        <td>
                            @item.AB.ToString()
                        </td>
                        <td>
                            @item.AVG.ToString()
                        </td>
                        <td>
                            @item.HR.ToString()
                        </td>
                        <td>
                            @item.RBI.ToString()
                        </td>
                        <td>
                            @item.OBP.ToString()
                        </td>
                        <td>
                            @item.SLG.ToString()
                        </td>
                        <td>
                            @item.OPS.ToString()
                        </td>
                        <td>
                            @item.ISO.ToString()
                        </td>
                        <td>
                            @item.BABIP.ToString()
                        </td>
                        <td>
                            @item.K_.ToString()
                        </td>
                        <td>
                            @item.BB_.ToString()
                        </td>
                    </tr>


                </table>




            }
        }
        @foreach (var item in Model.PP)
        {
            if (item.PositionAbbr == "P")
            {
                {
                    <h2> Pitching Stats </h2>

                    <table cellpadding="20" cellspacing="10">
                        <tr>
                            <th>
                                G
                            </th>
                            <th>
                                W
                            </th>
                            <th>
                                L
                            </th>
                            <th>
                                SV
                            </th>
                            <th>
                                BS
                            </th>
                            <th>
                                ERA
                            </th>
                            <th>
                                WHIP
                            </th>
                            <th>
                                AVG
                            </th>
                            <th>
                                K/9
                            </th>
                            <th>
                                BB/9
                            </th>
                            <th>
                                K/BB
                            </th>
                            <th>
                                K%
                            </th>
                            <th>
                                BB%
                            </th>
                        </tr>

                        <tr>
                            <td>
                                @item.G.ToString()
                            </td>
                            <td>
                                @item.W.ToString()
                            </td>
                            <td>
                                @item.L.ToString()
                            </td>
                            <td>
                                @item.SV.ToString()
                            </td>
                            <td>
                                @item.BS.ToString()
                            </td>
                            <td>
                                @item.ERA.ToString()
                            </td>
                            <td>
                                @item.WHIP.ToString()
                            </td>
                            <td>
                                @item.AVG.ToString()
                            </td>
                            <td>
                                @item.K_9.ToString()
                            </td>
                            <td>
                                @item.BB_9.ToString()
                            </td>
                            <td>
                                @item.K_BB.ToString()
                            </td>
                            <td>
                                @item.K_.ToString()
                            </td>
                            <td>
                                @item.BB_.ToString()
                            </td>
                        </tr>


                    </table>
                }
            }
        }



    </div>
</div>


